export TELEGRAM_TOKEN="<put your telegram token>"
export TELEBOT_LOGFILE="/var/log/telebot.log"
export TELEBOT_LOGFORMAT="<put your format>"
export TELEBOT_LOGLEVEL="<put your log level>"
export STACKALYTICS_FIE="<put the path of stackalytics config file>"
export NOTIFY_FILE="<put the path of notify config file>"
