[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyrogram = "==1.1.0"
python-dotenv = "*"
tgcrypto = "*"
asyncio = "*"
prettytable = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
